<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} <title>Home Jobs</title> {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="{% static "js/script.js" %}"></script>
</head>
<body>
    <header>
        <h1>Jobs</h1>
    </header>
    <main>
        {% block content %}
            <h4>Empresa ou Candidato</h4>
            <p>Selecione o tipo de conta que você deseja criar</p>
            <a href="{% url 'empresa_signup' %}">Representante de uma empresa</a>
            <a href="{% url 'candidato_signup' %}">Candidato a procura de vagas</a>
        {% endblock %}
    </main>
</body>
</html>