{% extends 'base.html' %}
{% block content %}
    <div>
        {% include "jobs/navbar.html" %}
    </div>
    <div>
        {% if inscricaovaga_list %}
            <ul>
                {% for inscricao in inscricaovaga_list %}
                <li>
                    <div>
                        Vaga = {{ inscricao }}
                        Nome Candidato = {{ inscricao.candidato.candidato.first_name }}
                        Escolaridade Candidato = {{ inscricao.candidato.escolaridade }}
                        Pretensão Salarial do Candidato = {{ inscricao.candidato.pretensao_salarial }}
                        Experiência do Candidato = {{ inscricao.candidato.experiencia }}
                    </div>
                </li>
                    <a href="{% url 'vaga_empresa_details' inscricao.vaga.id %}">
                        Detalhes da vaga
                    </a>
                {% endfor %}
            </ul>
        {% else %}

        {% endif %}
    </div>
{% endblock %}