{% extends 'base.html' %}
{% block content %}
    {% include "jobs/navbar_candidato.html" %}
    <div class="task-container column is-multiline">
        <div class="card column is-half is-offset-one-quarter">
            <header class="card-header">
                <p class="card-header-title">Vaga: {{ vaga }}</p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>{{ vaga.nome_vaga }}</p>
                    <p>{{ vaga.empresa_responsavel }}</p>
                    <p>{{ vaga.get_escolaridade_min_display }}</p>
                    <p>{{ vaga.get_faixa_salaria_display }}</p>
                    <p>{{ vaga.requisitos }}</p>
                </div>
            </div>
            <footer class="card-footer">
                <form method="post" action="{% url 'inscrever_vaga' vaga.id %}">
                    {% csrf_token %}
                <input type="submit" value="Inscrever Vaga">
                </form>
            </footer>
        </div>
    </div>
{% endblock %}